.headerContainer {
    background-color: "#121211";
    display: "flex";
    align-items: center;
}

.headerContainer__name { 
    width: "60%";
 }

.headerContainer__name_fonts {
    color: "black";
    font-size: 21;
    padding-left: 16;
}